# Backend
PORT=8080
MYSQL_USER=root
MYSQL_PASSWORD=go-college
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=go_college_api

# Frontend / Notion
NOTION_API_KEY=
NOTION_BLOG_DATABASE_ID=
NOTION_PROJECT_DATABASE_ID=
NOTION_TIMELINE_DATABASE_ID=
NOTION_TECHSTACK_DATABASE_ID=
NOTION_TECHSTACKTYPE_DATABASE_ID=
